<p class="quote-header">displayqoutes works!</p>

<div class="quotes-container">
    @for (qoute of qoutes; track qoute) {
        <div 
            class="quote-card" 
            [class.special-author]="isspec_author(qoute.author)"  
            [class]="!isspec_author(qoute.author) ? 'regular-author' : ''"       
        >
            <div class="quote-content">
                <p class="quote-id">ID: <span>{{qoute._id}}</span></p>
                <h2 class="quote-title">{{qoute.title}}</h2>
                <p class="quote-text">"{{qoute.quotes}}"</p>
                <p class="quote-author">Author: <span>{{qoute.author}}</span></p>
                <p class="quote-published">Published: {{qoute.published}}</p>
            </div>
        </div>
    }
</div>